{% load static %}
<header class="header" data-header>
    <div class="container">
        <a href="{% url 'core:home' %}" class="logo">
            <img src="{% static 'images/logo.svg' %}" width="119" height="37" alt="{{ site_name }}">
        </a>

        <nav class="navbar" data-navbar>
            <div class="navbar-top">
                <a href="{% url 'core:home' %}" class="logo">
                    <img src="{% static 'images/logo.webp' %}" width="119" height="37" alt="{{ site_name }}">
                </a>
                <button class="nav-close-btn" aria-label="close menu" data-nav-toggler>
                    <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
                </button>
            </div>

            <ul class="navbar-list">
                <li>
                    <a href="{% url 'core:home' %}" class="navbar-link hover-1 nav-toggler">Accueil</a>
                </li>
                <li>
                    <a href="{% url 'team:team_list' %}" class="navbar-link hover-1 nav-toggler">Notre équipe</a>
                </li>
                {% comment %} <li>
                    <a href="#" class="navbar-link hover-1 nav-toggler">Nos travaux</a>
                </li> {% endcomment %}
                {% comment %} <li>
                    <a href="#" class="navbar-link hover-1 nav-toggler">Blog</a>
                </li> {% endcomment %}
                <li>
                    <a href="{% url 'core:contact' %}#contact" class="navbar-link hover-1 nav-toggler">Contact</a>
                </li>
            </ul>
        </nav>

        <a href="#newsletter" class="btn btn-primary">Rejoignez-nous</a>

        <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
</header>