{% extends "bases.html" %}
{% load static %}

{% block title %}Accueil - {{ site_name }}{% endblock %}

{% block content %}

  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home" aria-label="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Bienvenue dans l'univers de la recherche quantique</p>

            <h1 class="headline headline-1 section-title">
              Team <span class="span">Quantum UY1</span>
            </h1>

            <p class="hero-text">
              Explorez les frontières de la physique quantique avec notre équipe de chercheurs passionnés. Notre mission : 
              repousser les limites du savoir, partager les découvertes et inspirer les esprits curieux à travers le monde.
           </p>

          </div>

          <div class="hero-banner">

            <img src="{% static '/assets/images/logo.webp' %}" width="327" height="490" alt="Quantum UY1" class="w-100">

            <img src="{% static '/assets/images/pattern-2.svg' %}" width="27" height="26" alt="shape" class="shape shape-1">

            <img src="{% static '/assets/images/pattern-3.svg' %}" width="27" height="26" alt="shape" class="shape shape-2">

          </div>

          <img src="{% static '/assets/images/shadow-1.svg' %}" width="500" height="800" alt="" class="hero-bg hero-bg-1">

          <img src="{% static '/assets/images/shadow-2.svg' %}" width="500" height="500" alt="" class="hero-bg hero-bg-2">

        </div>
      </section>





      <!-- 
        - #TEAM
      -->

      <section class="team" id="team" aria-labelledby="team-label">
        <div class="container">

          <div class="card team-card">

            <div class="card-content">

              <h2 class="headline headline-2 section-title card-title" id="team-label">
                Notre Équipe
              </h2>

              <p class="card-text">
                Découvrez les chercheurs passionnés derrière la communauté Quantum_UY1. Chacun contribue avec son expertise 
                unique pour explorer les mystères de la physique quantique.
              </p>

              <div class="team-footer">
                <a href="{% url 'dashboard:membre_list' %}" class="btn btn-primary btn-secondary">
                  Voir tous les membres
                </a>
              </div>

              <div class="btn-group">
                <button class="btn-icon" aria-label="previous" data-slider-prev>
                  <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
                </button>

                <button class="btn-icon" aria-label="next" data-slider-next>
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </button>
              </div>



            </div>

            <div class="slider" data-slider>
              <ul class="slider-list" data-slider-container>

                
                 <!-- Member -->
                 {% for member in list_member %}
                <li class="slider-item">
                  <a href="{{ member.id }}/" class="slider-card">

                    <figure class="slider-banner img-holder" style="--width: 250; --height: 318;">
                      <img src="{{ member.photo.url }}" width="250" height="318" loading="lazy" alt=" ">
                    </figure>

                    <div class="slider-content">
                      <span class="slider-title">{{ member.title.name }}. {{ member.user.first_name }} {{ member.user.last_name }}</span>
                      <p class="slider-subtitle">{% for expertise in member.expertise.all %}
                            {{ expertise.name }}{% if not forloop.last %}, {% endif %}                   
                            {% empty %}
                            .
                        {% endfor %}
                      </p>
                    </div>

                  </a>
                </li>
                {% endfor %}  
              </ul>
            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #RESEARCH TOPIC
      -->

      <section class="section research-topic" aria-label="research_topic" id="research_topic">
        <div class="container">

          <h2 class="headline headline-2 section-title">
            <span class="span">Sujets de Recherche</span>
          </h2>

          <p class="section-text">
            Explorez les thématiques de recherche en cours à Quantum_UY1, menées par nos experts en physique quantique.
          </p>

          <ul class="research-topic-list">
            {% for recherche in list_projet %}

            <li>
              <div class="research-topic-card">

                <figure class="card-banner img-holder" style="--width: 510; --height: 500;">
                  <img class="img_projet" src="{{ recherche.photo.url }}" width="510" height="500" loading="lazy">
                </figure>

                <div class="card-content">

                  <div class="card-wrapper">


                    <div class="wrapper">
                      <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                      <span class="span">{{ recherche.publish }}</span>
                    </div>
                  </div>

                  <h3 class="headline headline-3">
                    <a href="{% url 'research:detail' recherche.id %}" class="card-title hover-2">
                      {{ recherche.titre }}
                    </a>
                  </h3>

                  <div class="card-wrapper">

                    <a href="#" class="card-btn">Read more</a>

                  </div>

                </div>

              </div>
            </li>
            {% endfor %}
          </ul>

          <a href="list/" class="btn btn-secondary">
            <span class="span">Voir plus de sujets</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>

        <img src="{% static '/assets/images/shadow-3.svg' %}" width="500" height="1500" loading="lazy" alt="" class="research-topic-bg">

      </section>






      <!-- 
        - #RECENT POST
      -->

      <section class="section recent-post" id="recent" aria-labelledby="recent-label">
        <div class="container">

          <div class="post-main">

            <h2 class="headline headline-2 section-title">
              <span class="span">Recent posts</span>
            </h2>

            <!-- <p class="section-text">
              Don't miss the latest trends
            </p> -->

            <ul class="grid-list">
              {% for post in list_article %}
              <li>
                <div class="recent-post-card">

                  <figure class="card-banner img-holder" style="--width: 271; --height: 258;">
                    <img src="{{ post.photo.url }}" width="271" height="258" loading="lazy"
                      alt="Helpful Tips for Working from Home as a Freelancer" class="img-cover">
                  </figure>

                  <div class="card-content">

                    <a href="#" class="card-badge">New</a>

                    <h3 class="headline headline-3 card-title">
                      <a href="{% url 'blog:post_detail' post.id %}" class="link hover-2">{{post.title}}</a>
                    </h3>

                    <div class="card-wrapper">
                      <div class="wrapper">
                        <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                        <span class="span">{{post.publish}}</span>
                      </div>
                    </div>

                  </div>

                </div>
              </li>
              {% endfor %}
            </ul>
            <a href="blog/list_blog/" class="btn btn-secondary">
              <span class="span">Voir plus d'article</span>
    
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </div>

         
        </div>

      </section>

    </article>
  </main>

  {% endblock %}

