{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratoire de Physique</title>
    <link rel="stylesheet" href="{% static 'css/accueil.css' %}">

    {% block extra_css %}{% endblock %}

</head>
<body>
    <header>
        <div class="logo">
            <img src="media/images/logo1 copy.png" alt="Logo du Laboratoire">
        </div>
        <nav>
            <ul>
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#about">À Propos</a></li>
                <li><a href="#team">Équipe</a></li>
                <li><a href="#research">Sujets de Recherche</a></li>
                <li><a href="#blog">Blog</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="cta-button">
            <a href="#join" class="button">Rejoignez-nous</a>
        </div>
    </header>

    <section id="accueil" class="hero">
        <div class="hero-text">
            <h1>Laboratoire de Recherche en Physique Théorique et Expérimentale</h1>
            <h2>Explorant l'invisible pour bâtir le monde de demain</h2>
        </div>
        <img src="media/images/atome5.jpg!w700wp" alt="Image de fond" class="hero-image">
        <div class="hero-text">
            <h1>Pionniers de la Science et de l'Innovation</h1>
            <p>Repousser les frontières de la Physique Moderne</p>
            <div class="hero-buttons">
                <a href="#team" class="button">Découvrir notre Équipe</a>
                <a href="#research" class="button">Lire nos Travaux</a>
            </div>
        </div>
    </section>


    <section id="about">
        <h2>À Propos de Nous</h2>
        <div class="about-text">
            <p>Spécialisé dans la recherche fondamentale et appliquée, notre laboratoire œuvre pour l'avancement de la physique théorique et expérimentale en collaboration avec des chercheurs internationaux.</p>
            <div class="ctb-button">
                <a href="about/" class="button">En savoir plus</a>
            </div>
        </div>
        
        
    </section>

    <section id="team">
        <h2>Notre Équipe de Chercheurs et Collaborateurs</h2>
        <p>Notre équipe rassemble des chercheurs passionnés et des experts dans des domaines variés de la physique, de la théorie à l'expérimentation.</p>
        <div class="team-members">
            {% for member in list_member %}
            <a class="fir-imageover" rel="noopener" href="{{ member.id }}/">
                <div class="member">
                    <img src="{{ member.photo.url }}" class="member-image">
                    <h3>{{ member.title.name }}. {{ member.user.first_name }} {{ member.user.last_name }}</h3>
                    <p>
                        {% for expertise in member.user.expertise.all %}
                            {{ expertise.name }},                   
                        {% endfor %}
                    </p>
                </div>
            </a>
                
            {% endfor %}  
        </div>   
    </section>

    <section id="research">
        <h2>Nos Sujets de Recherche</h2>
        <p>Nos recherches couvrent un éventail de sujets fascinants visant à repousser les frontières de la connaissance en physique.</p>
        <div class="research-topics">
            {% for recherche in list_projet %}
            <div class="topic">
                <h3>{{ recherche.titre }}</h3>
                <p>{{ recherche.resumé }}</p>
            </div>
            {% endfor %}
        </div>
        <div class="ctb-button">
            <a href="list/" class="button">Voir Plus</a>
        </div>
    </section>

    <section id="blog">
        <h2>Blog</h2>
        <p>Découvrez nos réflexions et analyses sur les avancées en physique.</p>
        <div class="latest-articles">
            {% for post in list_article %}
            <article>
                <img src="{{ post.photo.url }}" width="100" height="100">
                <h3 class="article-link">{{post.title}}</h3>
                <!-- <p>{{post.body}}</p> -->
                <span>Date de publication</span>
            </article>
            {% endfor %}
        </div>
        <div class="ctb-button">
            <a href="blog/list_blog/" class="button">Voir tous les articles</a>
        </div>
    </section>

    <section id="contact">
        <h2>Contactez-Nous</h2>
        <p>Pour toute question ou collaboration, n'hésitez pas à nous contacter.</p>
        <form action="submit_form.php" method="post">
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Email :</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Message :</label>
            <textarea id="message" name="message" required></textarea>
            <button type="submit">Envoyer</button>
        </form>
    </section>

    <footer>
        <p>&copy; 2024 Laboratoire de Physique - Tous droits réservés.</p>
    </footer>
</body>
</html>