{% extends "index.html" %}
{% load static %}

{% block title %}{{ site_name }} - Publications{% endblock %}

{% block content %}
{% load i18n %}
<style>

    .card-banner2 {
        height: 54px;
        overflow: hidden; /* Masquer les débordements */
        display: flex; /* Centrer le contenu */
        justify-content: center; /* Centrer horizontalement */
        align-items: center; /* Centrer verticalement */
    }
    .align-horizontal {
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    .align-horizontal span {
        margin: 0 50px; /* Pour espacer les éléments */
    }

    .category-btn {
        padding: 0.75rem 1.5rem;
        background-color: var(--bg-prussian-blue);
        color: var(--text-wild-blue-yonder);
        font-size: var(--fontSize-6);
        transition: all var(--transition-1);
        border: 1px solid var(--border-prussian-blue);
    }

    .category-btn:hover,
    .category-btn.active {
        background-color: var(--bg-carolina-blue);
        color: var(--text-white);
    }

    .titre {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
        max-height: 3em;
    }

    .resume {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.5;
        max-height: 3em;
    }
    .blob {
        background-color: var(--bg-prussian-blue);
    }

    .title {
        color: var(--bg-carolina-blue);
    }

    .card {
        background-color: var(--bg-oxford-blue);
        transition: transform var(--transition-1);
        border: 1px solid var(--border-prussian-blue);
        border-radius: var(--radius-16);
    }

    .card1 {
        background-color: var(--bg-oxford-blue);
        transition: transform var(--transition-1);
        border: 1px solid var(--border-prussian-blue);
    }
    
    .card img {
        width: 100%; /* Prend toute la largeur de la carte */
        height: 200px; /* Hauteur fixe */
        object-fit: cover; /* Couvre l'espace sans déformer l'image */
    }
    .featured-title {
        font-size: var(--fontSize-3);
        color: var(--text-alice-blue);
        margin-bottom: 1rem;
        transition: color var(--transition-1);
    }
    .featured-title:hover {
        color: var(--text-carolina-blue);
    }

</style>

<main>
    <section class="section">
        <!-- Main News Slider Start -->
        <div class="container-fluid py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="owl-carousel owl-carousel-2 carousel-item-1 position-relative mb-3 mb-lg-0">
                            {% for post in posts %}
                                <div class="position-relative overflow-hidden" style="height: 435px;">
                                    <img class="img-fluid h-100" src="{{ post.photo.url }}" style="object-fit: cover; opacity: 0.4;">
                                    <div class="overlay">
                                        <div class="mb-1">
                                            <div>{{ post.categorie.name }}</div>
                                            <span class="px-2 text-white">_</span>
                                            <div>{{ post.publish|date:"j F Y" }}</div>
                                        </div>
                                        <a href="{% url 'blog:post_detail' post.slug %}" class="featured-title titre">
                                            {{ post.title }}
                                          </a>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No posts available.</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blob d-flex align-items-center justify-content-between py-2 px-4 mb-3">
                            <h3 class="title m-0">Categories</h3>
                        </div>
                        <!-- <div class="position-relative overflow-hidden category-btn {% if not selected_categories %}active{% endif %} mb-3" style="height: 80px;" data-category="">
                            <a href="#" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                                Tout
                            </a>
                        </div> -->
                        {% for category in all_categories %}
                            <div class="card1 position-relative overflow-hidden category-btn {% if category.name in selected_categories %}active{% endif %} mb-3" style="height: 80px;" data-category="{{ category.name }}">
                                <a href="?categories={{ category.name }}" class="overlay align-items-center justify-content-center h4 m-0 text-white text-decoration-none">
                                    {{ category.name }}
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Main News Slider End -->

        <!-- News With Sidebar Start -->
        <div class="container-fluid py-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row mb-3">
                            <div class="col-12">
                                <div class="d-flex align-items-center justify-content-between blob py-2 px-4 mb-3">
                                    <h3 class="title m-0">Populaire</h3>
                                    <a class="text-secondary font-weight-medium text-decoration-none" href="{% url 'blog:listing' %}">Tout</a>
                                </div>
                            </div>
                            {% for post in posts %}
                            <div class="col-lg-6">
                                {% if forloop.counter <= 2 %}
                                    <!-- Design spécifique pour les deux premiers posts -->
                                    <div class="col-lg-13">
                                        <div class="card position-relative mb-3 special-post">
                                            <img class="img-fluid w-100" src="{{ post.photo.url }}" style="object-fit: cover; height: 200px;">
                                            <div class="overlay position-relative card">
                                                <div class="mb-2 align-horizontal">
                                                    <span>{{ post.publish|date:"j F Y" }}</span>
                                                    <dv>{{ post.categorie.name }}</dv>
                                                </div>
                                                <a href="{% url 'blog:post_detail' post.slug %}" class="featured-title titre">
                                                    {{ post.title }}
                                                </a>
                                                <p class="resume m-0">{{ post.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                <br><br>
                                    <div class="d-flex mb-3">
                                        <img src="{{ post.photo.url }}" style="width: 100px; height: 100px; object-fit: cover;">
                                        <div class="w-100 d-flex flex-column justify-content-center card1 px-3" style="height: 100px;">
                                            <div class="mb-1" style="font-size: 13px;">
                                                <a href="">{{ post.categorie.name }}</a>
                                                <br>
                                                <span>{{ post.publish|date:"j F Y" }}</span>
                                            </div>
                                            <a href="{% url 'blog:post_detail' post.slug %}" class="featured-title titre">
                                                {{ post.title }}
                                              </a>
                                        </div>
                                    </div>
                                    
                                {% endif %}
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-lg-4 pt-3 pt-lg-0">
                        <!-- Social Follow Start -->
                        <div class="pb-3">
                            <div class="blob py-2 px-4 mb-3">
                                <h3 class="title m-0">Suivez-nous</h3>
                            </div>
                            <div class ="d-flex mb-3">
                                <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #39569E;">
                                    <small class="fab fa-facebook-f mr-2"></small><small>12,345 Fans</small>
                                </a>
                                <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #52AAF4;">
                                    <small class="fab fa-twitter mr-2"></small><small>12,345 Followers</small>
                                </a>
                            </div>
                            <div class="d-flex mb-3">
                                <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #0185AE;">
                                    <small class="fab fa-linkedin-in mr-2"></small><small>12,345 Connects</small>
                                </a>
                                <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #C8359D;">
                                    <small class="fab fa-instagram mr-2"></small><small>12,345 Followers</small>
                                </a>
                            </div>
                            <div class="d-flex mb-3">
                                <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none mr-2" style="background: #DC472E;">
                                    <small class="fab fa-youtube mr-2"></small><small>12,345 Subscribers</small>
                                </a>
                                <a href="" class="d-block w-50 py-2 px-3 text-white text-decoration-none ml-2" style="background: #1AB7EA;">
                                    <small class="fab fa-vimeo-v mr-2"></small><small>12,345 Followers</small>
                                </a>
                            </div>
                        </div>
                        <!-- Social Follow End -->

                        <!-- Ads Start -->
                        <div class="mb-3 pb-3">
                            <a href=""><img class="img-fluid" src="img/news-500x280-4.jpg" alt=""></a>
                        </div>
                        <!-- Ads End -->

                        <!-- Trending News Start -->
                        <div class="pb-3">
                            <div class="blob py-2 px-4 mb-3">
                                <h3 class="title m-0">Recents</h3>
                            </div>
                        </div>

                        <div class="post-aside grid-list">

                            <div class="card aside-card">
                
                              <ul class="popular-list">
                                {% for post in article %}
                                <li>
                                  <div class="popular-card">
                
                                    <figure class="card-banner card-banner2 img-holder">
                                      <img src="{{ post.photo.url }}" width="64" height="64" alt="">
                                    </figure>
                
                                    <div class="card-content">
                
                                      <h4 class="headline headline-4 card-title">
                                        <a href="{% url 'blog:post_detail' post.slug %}" class="link hover-2">{{post.title}}</a>
                                      </h4>
                
                                      <div class="resume">{{ post.description }}</div>
                
                                      <div class="warpper">
                
                                        <time class="publish-date" datetime="2022-04-15">{{post.publish|date:"j F Y"}}</time>
                                      </div>
                
                                    </div>
                
                                  </div>
                                </li>
                                {% endfor %}
                              </ul>
                
                            </div>
                          </div>
                        <!-- Trending News End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- News With Sidebar End -->
    </section>
</main>

{% endblock %}