{% extends "base.html" %}
{% load static %}
{% block title %}Blog{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}
<h1>Blog Articles</h1>
<ul class="blog-list">
    {% for article in articles %}
        <li>
            <a href="{{ article.id }}/">{{ article.title }}</a> by {{ article.author.first_name }} {{ article.author.last_name }}
        </li>
    {% endfor %}
</ul>
<a href="create/" class="btn">Add New Article</a>
{% endblock %}
