{% extends "base.html" %}
{% load static %}
{% block title %}Blog Form{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}
{% block content %}
<h1>{% if form.instance.pk %}Edit Article{% else %}Create New Article{% endif %}</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'blog_list' %}" class="btn">Cancel</a>
</form>
{% endblock %}
